---
import type { Page } from 'astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';

import {
  BlogGallery,
  NewerOlderPagination,
  PaginationHeader,
  Section,
} from '@/components';
import Base from '@/layouts/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import { sortByDate } from '@/utils/Posts';
import { getUrl } from '@/utils/URLMap';

type GetStaticPaths = {
  paginate: any;
}; // Overrides `GetStaticPathsOptions` types from Astro

export async function getStaticPaths({ paginate }: GetStaticPaths) {
  const allPosts = await getCollection('posts');
  const sortedPosts = sortByDate(allPosts);

  // Return a paginated collection of paths for all posts
  return paginate(sortedPosts, { pageSize: 6 });
}

interface Props {
  page: Page<CollectionEntry<'posts'>>;
}

const { page } = Astro.props;
const title = `Blogs | ${AppConfig.title} | ${page.currentPage}`;
const description = 'raymondl.dev blog posts';
const urls = page.data.map((post) => `${getUrl('posts')}/${post.slug}/`);
---

<Base head={{ title, description }}>
  <Section>
    <PaginationHeader
      title="Blog"
      description="I will use this page to write about anything I find interesting (and spontaneous thoughts)"
    />
  </Section>

  <Section>
    <BlogGallery postList={page.data} urls={urls} />
  </Section>

  <Section>
    <NewerOlderPagination page={page} />
  </Section>
</Base>
