---
import { Section } from '@/components';
import type { ProjectFrontmatter } from '@/content/_schemas';
import Base from '@/layouts/Base.astro';
import Content from '@/partials/Content.astro';
import { AppConfig } from '@/utils/AppConfig';

export interface Props {
  frontmatter: ProjectFrontmatter;
}

const { frontmatter } = Astro.props as Props;
const title = `${frontmatter.name} | Projects | ${AppConfig.title}`;
---

<Base head={{ title, description: frontmatter.description }}>
  <Section>
    <Content class="prose prose-invert mx-auto mt-8 max-w-3xl">
      <h1 class="mb-2 text-center">{frontmatter.name}</h1>
      <div class="w-full text-center">
        {
          () => {
            if (frontmatter.source === undefined) {
              return <Fragment />;
            }
            if (typeof frontmatter.source === 'string') {
              return (
                <a target="_blank" href={frontmatter.source}>
                  View source code
                </a>
              );
            }
            return (
              <>
                <div class="font-normal">View source code below</div>
                <div class="flex flex-row justify-center gap-5">
                  {Object.entries(frontmatter.source).map(([name, url]) => (
                    <div>
                      <a target="_blank" href={url}>
                        {name}
                      </a>
                    </div>
                  ))}
                </div>
              </>
            );
          }
        }
      </div>
      <slot />
    </Content>
  </Section>
</Base>
